*{
    margin: 0;padding: 0;
}
.tittle{
    text-align: center;
    background-color: #E0FFFF;
    line-height: 60px;
}
.main{
    width: 400px;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid silver;
    background-image:url("../images/背景.jpg");
}
.in{
    width: 280px;
    height: 30px;
}
.baidu{
    background-color: aquamarine;
    color: #333;
    width: 100px;
    height: 34px;
    border: 1px solid springgreen;
}
.head{
    color: deepskyblue;
    margin-top: 20px;
    padding-left: 30px;
}
.img2{
    width: 400px;
    margin-top: 10px;
    margin-bottom: 10px;
}
p{
    color: #333;
    padding: 5px;
    margin-top: 15px;
}
.homework-link{
    width: 100px;
    float: left;
    position: fixed;
    left: 10px;
    top: 10%;
    background-color: lightskyblue;
    text-align: center;
    border-radius: 30px;
    background-image:url("../images/背景.jpg");
}
.homework-link li{
    list-style:none;
    margin-top: 10px;
}
.homework-link a{
    text-decoration: none;
    color: #666;
}
.homework-link a:hover{
    text-decoration: underline;
}