*{
    margin: 0;padding: 0;
}
.first,.second{border-collapse:collapse}
.l1{
    width: 701px;
    height: 50px;
    background-color: orange;
    line-height: 50px;
    text-align: center;
    color: white;
}
.r2l1,.r3l1,.r4l1,.r5l1,.r6l1,.r7l1,.r8l1{
    height: 50px;
    width: 100px;
    text-align: center;
    font-weight: 1000;
}
.r2l2,.r3l2,.r4l2,.r5l2,.r6l2,.r7l2,.r8l2{
    width: 600px;
    text-align: center;
    font-weight: 300;
}
.form{
    width: 702px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}
.nav{
    height: 50px;
    background: #1ABEBF url('../images/home.png') no-repeat center center;
    margin-left: auto;
    margin-right: auto;
}
.tittle{
    margin-top: 10px;
    text-align: left;
    margin-bottom: 10px;
    color: #666;
    font-size: 30px;
}
.small-tittle{
    margin-bottom: 30px;
    color: rgb(208, 209, 209)
}
.img1{
    width: 702px;
}
.p1,.p2,.p3{
    text-indent: 30px;
    line-height: 30px;
    color: rgb(119, 120, 121)
}
.p1{
    margin-top: 30px;
}
.p3{
    margin-bottom: 30px;
}
.homework-link{
    width: 100px;
    float: left;
    position: fixed;
    left: 10px;
    top: 10%;
    background-color: lightskyblue;
    text-align: center;
    border-radius: 30px;
}
.homework-link li{
    list-style:none;
    margin-top: 10px;
}
.homework-link a{
    text-decoration: none;
    color: #666;
}
.homework-link a:hover{
    text-decoration: underline;
}