.content{
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
    overflow: hidden;
}
.content-title>h3{
    text-align: center;
    margin-top: 50px;
}
.content-title{
    padding-bottom: 50px
}
.content-pic{
    text-align: center;
    overflow: hidden;
    margin-bottom: 50px;
}
.content-icon img{
    width: 30%;
    height: 30%;
}
.content-icon .title{
    font-size: 24px;
    color: #2dae36;
}
.content-icon p{
    margin-bottom: 10px;
    color: #666;
}
.product-title{
    border-bottom: 1px solid #2dae36;
    height: 42px;
    margin-bottom: 10px;
}
.product-title>p{
    width: 120px;
    color: white;
    font-size: 20px;
    line-height: 42px;
    text-align: center;
    background: #2dae36;
    border-radius: 16px 0 16px 0;
}
.products-pic{
    margin-bottom: 20px;
}
.products-pic>img{
    width: 100%;
}

.homework-link{
    width: 100px;
    float: left;
    position: fixed;
    left: 10px;
    top: 10%;
    background-color: lightskyblue;
    text-align: center;
    border-radius: 30px;
}
.homework-link li{
    list-style:none;
    margin-top: 10px;
}
.homework-link a{
    text-decoration: none;
    color: #666;
}
.homework-link a:hover{
    text-decoration: underline;
}